---
title: A Static Page
layout: base.njk
---
 
<div class="container">
    <h1>This is a static page!!!</h1>
    <div class="love">💜</div>
    <div class="vibe">You are great!</div>
</div>
<script src="/js/vibe.js"></script>